описание и требования к функции и вектору схожести.

ВЕКТОР СХОЖЕСТИ
вектор схожести содержит значения ф-ции схожести
для каждой пары пользователей, притом
vec(i,j) = vec(j,i)

ФУНКЦИЯ СХОЖЕСТИ
ф-ция схожести должна отвечать следующим требованиям:
1. Оба значения велики, тогда выход велик
2. Один вход велик, один посредине, тогда выход средний
3. Оба входа средние, тогда выход ниже среднего
4. Один из входов низок, тогда выход около нуля
5. Около максимума ф-ция изменяется медленнее, чем во всех
   остальных местах.
